@import "../../../palette.scss";

.lot {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 16px;
  border-bottom: 1px solid $spacer;
  margin-bottom: 8px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    display: block;
    width: calc(100% + 48px);
    height: calc(100% + 1px);
    background-color: #f6f7f8;
    opacity: 0;
    transition: 0.12s linear;
    z-index: -1;
  }
  &:active::before {
    opacity: 1;
  }
  .owner {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    width: fit-content;
    text-decoration: none;
    transition: 0.12s linear;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    & > img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 16px;
      margin-right: 8px;
    }
    & > p {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.149333px;
      color: $fontTitle;
      margin-right: 16px;
    }
  }
  .content {
    text-decoration: none;
    cursor: pointer;
    .photo {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: calc(100% * 0.563);
      margin-bottom: 18px;
      & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        mask-image: url(../../../Assets/Masks/lotPhoto.svg);
        mask-size: cover;
        mask-repeat: no-repeat;
      }
    }
    .title {
      font-weight: 800;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.64px;
      color: $fontTitle;
      margin-bottom: 5px;
    }
    .description {
      overflow-y: hidden;
      min-height: 57px;
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: -0.08px;
      color: $fontGrey;
      margin-bottom: 23px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media (min-width: 640px) {
  .lot {
    width: calc(50% - 16px);
  }
}
@media (min-width: 1024px) {
  .lot {
    width: calc(50% - 28px);
  }
}
